body  {
    background-color: rgb(255, 251, 246);    
    width: 800px;
    margin: auto;
    color: rgb(54, 8, 0);
    font: fantasy;
    font-style:xx-large;
    font-weight: lighter;
 
}
img {
    margin-left: 0;
    float: left;
    border: rgb(61, 27, 27);
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}
img:not(#mainPic) {
    border: rgb(237, 255, 242);
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}
video {
    width: 100%;
}
a, p {
    clear: both;
    color: rgb(41, 0, 0);
    font-weight: lighter;
    text-shadow: rgb(34, 0, 7);
    letter-spacing: normal;
    text-decoration: blanchedalmond;
    line-height: normal;
}
ul, li {
    margin-top: 5em;
    font-size: larger;
    display: inline;
    font-weight: lighter;
    list-style-type: none;
    font-family: 'Allura';
}
li a:hover {
    display: inline-block;
    transform: rotate(-3deg);
}
h1 {
    position: absolute;
    margin-left: 10em;
    padding-top: 3em;
    color: rgb(58, 0, 0);
    font-family: Allura;
    text-shadow: rgb(82, 72, 58);
    text-transform: capitalize;
}
h5 {
    position: initial;
    position: a;
    margin-top: 0;
    padding: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(51, 0, 0);
    color: cornsilk;
}
div  {
    text-align: center;
    width: 400px;
    border: 10px;
    border-color: blanchedalmond;
}
#mainPic {
    max-width: 1000%;
    width: 29cm;
    float:left;
    border: 3px solid rgb(54, 8, 0);
    margin: 5em;
    margin-left: -100px;
    box-shadow: 15px 15px 25px 25px rgb(54, 8, 0);
}
#logo {
  display: block;
  margin-left: 1em;
  margin-right: auto;
  width: 5cm;
}
.menuItem {
    box-shadow: 5px 5px 5px 5px rgb(54, 8, 0);
    width: 900;
    height: 400px;
    border: 1px solid rgb(54, 8, 0);
}
@media screen and (max-width: 800px) { 
    body {
        width: fit-content;
    }
 }