body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

<style>table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

td,
th {
  border: 1px solid black;
  padding: 1em;
}

.formGroup {
  margin-bottom: .5em;
}

label {
  width: 3em;
  display: inline-block;
}

.buttons {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  columns: 4;
}

td,
th {
  border: 1px solid black;
  padding: 1em;
}

.formGroup {
  margin-bottom: .5em;
}

label {
  width: 3em;
  display: inline-block;
}

.buttons {
  text-align: center;
}